.hero {
  box-sizing: border-box;
  margin-top: 46px;
  background: linear-gradient(to right, rgba(38, 76 ,126, 0.5), rgba(38, 76 ,126, 0.6)), url('/img/Webp.net-compress-image.jpg') no-repeat bottom fixed;
  background-size: cover;
  box-shadow: 0 0 10px #555;

  &-content {
    background-color: rgb(0,0,0); // fallback
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 6px #323030;
    border-radius: 6px;
    padding: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  &-title, &-subtitle {
    text-align: center;
    margin: 1rem 0;
  }

  &-subtitle {
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 1.5rem;

    &:before, &:after {
      content: "\"";
    }
  }
}